body {
	margin:0;
	padding:0;
	background-image:url("https://subtlepatterns.com/patterns/photography.png");
}

h1 {
	font-family:'Comfortaa', cursive;
	color:rgb(21, 105, 239);
	text-align:center;
	font-size:4rem;
}

h2 {
	font-family:'Comfortaa', cursive;
	color:#497dd1;
	text-align:center;
	font-size:2rem;
}

.subtitlu {
	font-family:'Arima Madurai', cursive;
	font-size:3rem;
	text-indent:0.2rem;
}

.navigare {
	background-color:grey;
	list-style:none;
	text-align:center;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	margin-top:0em;
	
}

.navigare  li {
	display:inline-block;
	padding-right:40px;
	font-family: 'Patua One', cursive;
	font-size:1.5rem;
	
}

.navigare li a {
	text-decoration:none;
	color:white;
}

.navigare li a:hover{
	color:#a9af92;
}

#inceput {
	color:#06a03e;
}

#caseta1 {
	border-left:5px solid #06a03e;
	margin-left:0.2%;
}

.text {
	
	padding-left:0.6rem;
}

.despre {
	font-family: 'Mirza', cursive;
	font-size:1.2rem;
	letter-spacing:0.3px;
	margin-left:0.6%;
}

.pasiuni {
	display:inline-block;
	width:33%;
	height:15rem;
	border-radius:1%;
	
}

#petrecere {
	border-radius:1%;
	width:100%;
	height:45rem;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#continuare {
	color:#1accc6;
}

#caseta2 {
	border-left:3px solid #1accc6;
}

#dream {
	max-width:100%;
	height:auto;
	border-radius:1%;
	border-bottom:1px solid black;
}

#continuat {
	color:#47b2ff;
}

#caseta3 {
	border-left:3px solid #47b2ff;
}

form p {
	font-family: 'Forum', cursive;
	font-size:1rem;
	color:#0b2042;
	letter-spacing:0.01rem;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color:#d2d6d8;
    color:#051630;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius:5%; 
 background-color:#d2d6d8;;
  margin:8px 0;
}

input[type=submit], input[type=reset] {
    background-color: rgb(66, 134, 244);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration:none;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:3%;
}

#copyright {
	font-family:'Balthazar', serif;
	font-size:1.3rem;
}

