body {
	margin:0;
	padding:0;
	background-image:url("https://s17.postimg.org/tf5t87thb/playstation-pattern.png");
}



#titlu {
	font-family: 'Concert One', cursive;
	color:rgb(66, 134, 244);
	font-size:5rem;
	text-align:center;
}

.subtitlu {
	font-family: 'Concert One', cursive;
	color:rgb(66, 134, 244);
	font-size:2rem;
	text-align:center;
}

.navigare {
	background-color:grey;
	list-style:none;
	text-align:center;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	margin-top:0em;
	
}

.navigare  li {
	display:inline-block;
	padding-right:40px;
	font-family: 'Patua One', cursive;
	font-size:1.5rem;
	
}

.navigare li a {
	text-decoration:none;
	color:white;
}

.navigare li a:hover{
	color:#a9af92;
}

.container {
	position:relative;
	margin-bottom:1rem;
}

.center {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size:80px;
	color:white;
	font-family: 'Concert One', cursive;
	
	letter-spacing:4%;
}

img {
	width:100%;
	height:42rem;
border-radius:1%;
}

.adrese {
	display:inline-block;
	width:32%;
	height:auto;
	
}

#York {
	border-bottom:4px solid #8E78A2;
}

#Sydney {
	border-bottom:4px solid #030921;
}

#London {
	border-bottom:4px solid #6877EA;
}

.adrese p {
	font-family: 'Forum', cursive;
	font-size:1.5rem;
}


form p {
	font-family: 'Forum', cursive;
	font-size:1.5rem;
	color:#0b2042;
	letter-spacing:0.01rem;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #e0eaf9;
    color: #051630;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius:5%; 
 background-color: #e0eaf9;
  margin:8px 0;
}

textarea {
	width:99%;
	height:auto;
	background-color:#e0eaf9;
	padding-top:10px;
	padding-left:8px;
}

input[type=submit], input[type=reset] {
    background-color: rgb(66, 134, 244);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration:none;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:3%;
}

#copyright {
	font-family:'Balthazar', serif;
	font-size:1.3rem;
}