body {
	margin:0.3px;
	padding:0;
	background-image: url("https://s19.postimg.org/c35ehg08z/Sports.png");
	}
	

form p {
	font-family: 'Forum', cursive;
	font-size:1rem;
	color:#0b2042;
	letter-spacing:0.01rem;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color:#d2d6d8;
    color:#051630;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius:5%; 
 background-color:#d2d6d8;;
  margin:8px 0;
}

input[type=submit], input[type=reset] {
    background-color: rgb(66, 134, 244);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration:none;
    margin: 4px 2px;
    cursor: pointer;
	border-radius:3%;
}

.navigare {
	background-color:grey;
	list-style:none;
	text-align:center;
	padding-top:15px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	margin-top:0em;
	
}

.navigare  li {
	display:inline-block;
	padding-right:40px;
	font-family: 'Patua One', cursive;
	font-size:1.5rem;
	
}

.navigare li a {
	text-decoration:none;
	color:white;
}

.navigare li a:hover{
	color:#a9af92;
}